@font-face {
	font-family: 'Ginto';
	src: url('../fonts/GintoNordTrial-Regular.woff') format('woff');
}

@import "~bootstrap/scss/bootstrap";


body{
    font-family: 'Ginto';
}

.navbar{

  //position: fixed;
  //z-index: 1;

	.container-fluid{
		a{
			img{
				@extend .img-fluid;
				width: 50px;
			}
		}
	}
}

a.nav-link:hover{
	color: red !important;
}

.col{
	@extend .mt-5;

	img{
		width: 30vw;
		max-width: 400px;
		@extend .mx-auto, .d-block;
	}
}

.mainHome > h1{
 margin: 5vw;
}

.row{
	@extend  .align-items-center;
}

.videos{
	@extend .mt-5;
}

.link-primary{
	text-align: center;
	font-size: 30px;
	@extend .mt-5;
}

